
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
flatbuffers==25.9.23
fonttools==4.60.1
humanfriendly==10.0
importlib_resources==6.5.2
joblib==1.5.2
kiwisolver==1.4.7
matplotlib==3.9.4
ml_dtypes==0.5.3
mpmath==1.3.0
numpy==2.0.2
onnx==1.19.0
onnxruntime==1.19.2
packaging==25.0
pandas==2.3.3
pillow==11.3.0
protobuf==6.32.1
pyparsing==3.2.5
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
setuptools==78.1.1
six==1.17.0
skl2onnx==1.19.1
sympy==1.14.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.2
wheel==0.45.1
zipp==3.23.0